@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    scroll-behavior: smooth;
}

* {
    font-Family: "'Comfortaa', cursive"
}

@font-face {
    font-family: 'futura';
    src: local('futura'), url('./assets/fonts/futur.ttf') format('truetype');
}

@font-face {
    font-family: 'futura-bold';
    font-weight: 900;
    src: local('Futura'), url('./assets/fonts/Futura\ Bold\ font.ttf') format('truetype');
}

/* @font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Black.otf) format('truetype');
} */

.app__header {
    background: -moz-linear-gradient(135deg, rgba(6,155,217,1) 0%, rgba(53,192,233,1) 50%, rgba(247,194,228,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(6,155,217,1) 0%, rgba(53,192,233,1) 50%, rgba(247,194,228,1) 100%);
    background: linear-gradient(135deg, rgba(6,155,217,1) 0%, rgba(53,192,233,1) 50%, rgba(247,194,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#069bd9",endColorstr="#f7c2e4",GradientType=1);
}

.MuiTypography-root {
    font-Family: "'Comfortaa', cursive"
}